.fruits{
    background-color: yellowgreen;
    collapse: red;
    padding: 20px;
    border: 2px solid black;

}
.cars{background-color: #cc0707;
collapse: black;
border: 3px solid blue;
}

.nairobi {
    background-color: #063dc8;
    margin-bottom: auto;
    collapse: red;

}
.mycointainer{display: flex;



}






























