h2{
    color: #c33e62;
    text-align: center;
    font-family:"Cooper Black";
    font-size: 30px;
}
td,th{
    border:2px solid #3a2222
}
table{
    width:75%;
text-align: center;
border-collapse: collapse;
}
